.listings-container {
  max-height: calc(100vh - 3rem);
  padding: 12px 48px;
  overflow-y: auto;
  width: calc(50vw - 96px);
}
h4 {
  margin: 0 0.5rem;
}
.litings-found {
  color: #555;
  margin-bottom: 1rem;
}
