.listings-container {
  max-height: calc(100vh - 3rem);
  overflow-y: auto;
  .listing-container-spacer {
    padding: 12px 2rem;
  }

  @media screen and (max-width: 768px) {
    margin: 0 8%;
  }

  @media screen and (max-width: 480px) {
    margin: 0;
  }
}
h4 {
  margin: 0.5rem 0;
}
.litings-found {
  color: #555;
  margin-bottom: 2rem;
}

.loader-spacer {
  margin-top: -10vh;
}
